<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <shopbonsaishipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>ShopBonsai\CustomShipping\Model\Carrier\Method</model>
                <name>Custom Shipping</name>
                <price>1.00</price>
                <title>Custom Shipping</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </shopbonsaishipping>
        </carriers>
    </default>
</config>
